.App {
  display: grid;
  font-family: 'Inter', sans-serif;
  font-family: 'Karla', sans-serif;
  min-height: 100vh;
  place-items: center;
  text-align: center;
  width: 100%;

  .AppMain {
    background-color: #f5f7fb;
    display: grid;
    height: 100%;
    overflow: hidden;
    place-items: center;
    position: relative;
    width: 100%;

    .bgYellow {
      animation: example 3s infinite;
      background-color: #fffad1;
      border-radius: 80px;
      height: 300px;
      overflow: hidden;
      position: fixed;
      right: -100px;
      top: -100px;
      transform: rotate(45deg);
      width: 350px;
    }

    .bgBlue {
      animation: example 3s infinite;
      background-color: #deebf8;
      border-radius: 80px;
      bottom: -100px;
      height: 250px;
      left: -100px;
      position: fixed;
      transform: rotate(-10deg);
      width: 300px;
    }

    .bottomBar {
      align-items: center;
      color: #293264;
      display: flex;
      font-weight: bolder;
      justify-content: center;
    }
  }
}

@keyframes example {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 600px) {
  .App {
    .AppMain {
      .bgYellow {
        height: 250px;
        width: 200px;
      }

      .bgBlue {
        height: 200px;
        width: 200px;
      }
    }
  }
}
