.App {
  display: grid;
  font-family: 'Inter', sans-serif;
  font-family: 'Karla', sans-serif;
  min-height: 100vh;
  place-items: center;
  text-align: center;
  width: 100vw;
}

.AppMain {
  background-color: #f5f7fb;
  display: grid;
  height: 100%;
  overflow: hidden;
  place-items: center;
  position: relative;
  width: 100%;
}

.bgYellow {
  animation: example 3s infinite;
  background-color: #fffad1;
  border-radius: 80px;
  height: 300px;
  overflow: hidden;
  position: fixed;
  right: -100px;
  top: -100px;
  transform: rotate(45deg);
  width: 350px;
}

.bgBlue {
  animation: example 3s infinite;
  background-color: #deebf8;
  border-radius: 80px;
  bottom: -100px;
  height: 250px;
  left: -100px;
  position: fixed;
  transform: rotate(-10deg);
  width: 300px;
}

.questionsSection {
  z-index: 1;
}
.quizDescription {
  font-size: 2em;
}

.quizQuestion {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.quizQuestion > h3 {
  margin: 10px;
  text-align: start;
}

.button {
  align-items: center;
  background-color: #4d5b9e;
  border-radius: 15px;
  border: none;
  color: white;
  cursor: pointer;
  justify-content: center;
}

.answersList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  z-index: 2;
}

.answerBtn {
  background-color: white;
  border-radius: 16px;
  border: 2px solid #4d5b9e;
  color: #293264;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  margin: 10px;
  min-width: 100px;
  padding: 8px;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.answerBtn.show {
  filter: opacity(0.5);
}

.answerBtn:active {
  border: 2px solid #fffad1;
}

.answerBtn:active::after {
  background-color: #fffad1;
  border-radius: 16px;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: -1px;
  width: 100%;
}

.answerBtn.selected.wrong {
  background-color: #f8bcbc;
  border: 2px solid #f8bcbc;
  filter: opacity(0.5);
}
.answerBtn.correct,
.answerBtn.selected.correct {
  background-color: #c5e1a5;
  border: 2px solid #c5e1a5;
}

.answerBtn.selected {
  background-color: #d6dbf5;
  border: 2px solid transparent;
}

.btnCheckAnswers {
  height: 40px;
  margin: 20px;
  width: 120px;
}

hr {
  border: 0.5px solid #d6dbf5;
  margin: 10px 0px;
  width: 100%;
}

.bottomBar {
  align-items: center;
  color: #293264;
  display: flex;
  font-weight: bolder;
  justify-content: center;
}

@keyframes example {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
