.modal {
  align-items: center;
  backdrop-filter: blur(1px);
  background-color: rgb(0 0 0 / 31%);
  
  
  display: flex;
width:100%;
height: 100%;
  
  left: 50%;
  padding: 2em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);


  .content {
    border-radius: 10px;
    background-color: rgb(194, 240, 252);
    align-items: center;
    justify-content: center;
    height:50%;
    border: 4px solid white;
    box-sizing: border-box;
    width: 80%;
    margin: auto;

    .button {
      border-radius: 5px;
    }

    p {
      left: 50%;
      top: 50%;
      position: absolute;
        transform: translate(-50%, -50%);
    }
    
  
    .close {
      font-size: 20px;
      height: 30px;
      position: relative;
      right: -44%;
      top: 3%;
      width: 30px;
    }
  }
}

.quizTitle {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: #293264;
}

form {
  margin: 20px;

  > label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #293264;
    margin-bottom: 1rem;
  }

  > select {
    border-radius: 10px;
    border: 0.75px solid #293264;
    margin-top: 0.6em;
    margin-bottom: 1.3rem;
    padding: 10px;
    background-color: #deebf8;
    width: 220px;
    outline: none;
  }
}

.btnStart {
  width: 193px;
  height: 52px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
